openapi: 3.2.0
info:
  title: OpenAPI definition Fundamentals API
  version: v0
  description: Fundamentals
servers:
- url: https://api.pitchbook.com
tags:
- name: Fundamentals
  description: Fundamentals
paths:
  /sandbox-entities:
    get:
      tags:
      - Fundamentals
      summary: Sandbox Entities
      description: Returns the list of entities available to test with a sandbox API key.
      operationId: getSandboxEntities
      parameters:
      - name: entityType
        in: query
        description: Specify the type of entity to be returned from the Sandbox. If this parameter is not specified, all information from Sandbox will be returned in response
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - COMPANIES
          - INVESTORS
          - LIMITED_PARTNERS
          - SERVICE_PROVIDERS
          - PEOPLE
          - DEALS
          - FUNDS
          - CREDIT_NEWS
        example: COMPANIES
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '504':
          description: Gateway Timeout
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '402':
          description: Payment Required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SandboxEntitiesDto'
      security:
      - pbToken: []
  /lookup-tables:
    get:
      tags:
      - Fundamentals
      summary: Lookup Tables
      description: Returns the codes for a given lookup table. Codes are used in the search endpoint parameters, e.g. INDUSTRY, VERTICAL, US_AREA. To see the full list of tables available, use the "Lookup Tables Structure" endpoint
      operationId: getLookupTables
      parameters:
      - name: tableNames
        in: query
        description: Specify a list of tables to be returned. Use a comma to separate values. If this parameter is not specified, all information from lookup tables will be returned in response
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
        example: UK_TERRITORY, US_STATE, DEAL_TYPE
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '504':
          description: Gateway Timeout
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '402':
          description: Payment Required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/LookupTablesDto'
      security:
      - pbToken: []
  /lookup-tables/structure:
    get:
      tags:
      - Fundamentals
      summary: Lookup Tables Structure
      description: Returns the list of lookup tables used in the API's search endpoints (e.g. /companies/search). Once the necessary tables of interest are identified use the "Lookup Tables" endpoint to return the values for those tables
      operationId: getLookupTablesStructure
      responses:
        '400':
          description: Bad Request
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '500':
          description: Internal Server Error
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '404':
          description: Not Found
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '503':
          description: Service Unavailable
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '403':
          description: Forbidden
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '504':
          description: Gateway Timeout
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '402':
          description: Payment Required
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '429':
          description: Too Many Requests
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ErrorDto'
        '200':
          description: OK
          content:
            '*/*':
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LookupTableInfoDto'
      security:
      - pbToken: []
components:
  schemas:
    SandboxInvestorDto:
      type: object
      properties:
        investorId:
          type: string
          example: 11193-94
        investorName:
          type: string
          example: Franklin Street Equity Partners
    SandboxFundDto:
      type: object
      properties:
        fundId:
          type: string
          example: 22091-59F
        fundName:
          type: string
          example: Wework Property Investors Operating Partnership III
    LookupTablesDto:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/LookupTableDto'
    SandboxLimitedPartnerDto:
      type: object
      properties:
        limitedPartnerId:
          type: string
          example: 11603-71
        limitedPartnerName:
          type: string
          example: an Francisco Employees' Retirement System
    SandboxPersonDto:
      type: object
      properties:
        personId:
          type: string
          example: 195066-01P
        personName:
          type: string
          example: John Taylor
    SandboxServiceProviderDto:
      type: object
      properties:
        serviceProviderId:
          type: string
          example: 10015-03
        serviceProviderName:
          type: string
          example: EY
    DictionaryDto:
      type: object
      properties:
        code:
          type: string
          example: Dictionary code
        description:
          type: string
          example: Dictionary Code Description
    ErrorDto:
      type: object
      properties:
        reason:
          type: string
          enum:
          - 100 CONTINUE
          - 101 SWITCHING_PROTOCOLS
          - 102 PROCESSING
          - 103 EARLY_HINTS
          - 103 CHECKPOINT
          - 200 OK
          - 201 CREATED
          - 202 ACCEPTED
          - 203 NON_AUTHORITATIVE_INFORMATION
          - 204 NO_CONTENT
          - 205 RESET_CONTENT
          - 206 PARTIAL_CONTENT
          - 207 MULTI_STATUS
          - 208 ALREADY_REPORTED
          - 226 IM_USED
          - 300 MULTIPLE_CHOICES
          - 301 MOVED_PERMANENTLY
          - 302 FOUND
          - 302 MOVED_TEMPORARILY
          - 303 SEE_OTHER
          - 304 NOT_MODIFIED
          - 305 USE_PROXY
          - 307 TEMPORARY_REDIRECT
          - 308 PERMANENT_REDIRECT
          - 400 BAD_REQUEST
          - 401 UNAUTHORIZED
          - 402 PAYMENT_REQUIRED
          - 403 FORBIDDEN
          - 404 NOT_FOUND
          - 405 METHOD_NOT_ALLOWED
          - 406 NOT_ACCEPTABLE
          - 407 PROXY_AUTHENTICATION_REQUIRED
          - 408 REQUEST_TIMEOUT
          - 409 CONFLICT
          - 410 GONE
          - 411 LENGTH_REQUIRED
          - 412 PRECONDITION_FAILED
          - 413 PAYLOAD_TOO_LARGE
          - 413 REQUEST_ENTITY_TOO_LARGE
          - 414 URI_TOO_LONG
          - 414 REQUEST_URI_TOO_LONG
          - 415 UNSUPPORTED_MEDIA_TYPE
          - 416 REQUESTED_RANGE_NOT_SATISFIABLE
          - 417 EXPECTATION_FAILED
          - 418 I_AM_A_TEAPOT
          - 419 INSUFFICIENT_SPACE_ON_RESOURCE
          - 420 METHOD_FAILURE
          - 421 DESTINATION_LOCKED
          - 422 UNPROCESSABLE_ENTITY
          - 423 LOCKED
          - 424 FAILED_DEPENDENCY
          - 425 TOO_EARLY
          - 426 UPGRADE_REQUIRED
          - 428 PRECONDITION_REQUIRED
          - 429 TOO_MANY_REQUESTS
          - 431 REQUEST_HEADER_FIELDS_TOO_LARGE
          - 451 UNAVAILABLE_FOR_LEGAL_REASONS
          - 500 INTERNAL_SERVER_ERROR
          - 501 NOT_IMPLEMENTED
          - 502 BAD_GATEWAY
          - 503 SERVICE_UNAVAILABLE
          - 504 GATEWAY_TIMEOUT
          - 505 HTTP_VERSION_NOT_SUPPORTED
          - 506 VARIANT_ALSO_NEGOTIATES
          - 507 INSUFFICIENT_STORAGE
          - 508 LOOP_DETECTED
          - 509 BANDWIDTH_LIMIT_EXCEEDED
          - 510 NOT_EXTENDED
          - 511 NETWORK_AUTHENTICATION_REQUIRED
        message:
          type: string
    LookupTableInfoDto:
      type: object
      properties:
        tableName:
          type: string
          example: INDUSTRY
        tableDescription:
          type: string
          example: Industries
    SandboxCompanyDto:
      type: object
      properties:
        companyId:
          type: string
          example: 11009-35
        companyName:
          type: string
          example: Raymond Loewy International
    LookupTableDto:
      type: object
      properties:
        tableName:
          type: string
          example: INDUSTRY
        tableDescription:
          type: string
          example: Industries
        codes:
          type: array
          items:
            $ref: '#/components/schemas/DictionaryDto'
    SandboxEntitiesDto:
      type: object
      properties:
        entityTypeCounts:
          $ref: '#/components/schemas/EntityTypeCountsDto'
        companies:
          type: array
          items:
            $ref: '#/components/schemas/SandboxCompanyDto'
        investors:
          type: array
          items:
            $ref: '#/components/schemas/SandboxInvestorDto'
        dealIds:
          type: array
          items:
            $ref: '#/components/schemas/SandboxDealDto'
        people:
          type: array
          items:
            $ref: '#/components/schemas/SandboxPersonDto'
        funds:
          type: array
          items:
            $ref: '#/components/schemas/SandboxFundDto'
        limitedPartners:
          type: array
          items:
            $ref: '#/components/schemas/SandboxLimitedPartnerDto'
        serviceProviders:
          type: array
          items:
            $ref: '#/components/schemas/SandboxServiceProviderDto'
        creditNews:
          type: array
          items:
            $ref: '#/components/schemas/SandboxCreditNewsDto'
    SandboxCreditNewsDto:
      type: object
      properties:
        articleId:
          type: integer
          format: int32
          example: 118074
        articleTitle:
          type: string
          example: WeWork Property Investors Operating Partnership III Announces $1.5 Billion Credit Facility
    EntityTypeCountsDto:
      type: object
      properties:
        companies:
          type: integer
          format: int32
          example: 1
        deals:
          type: integer
          format: int32
          example: 1
        investors:
          type: integer
          format: int32
          example: 1
        people:
          type: integer
          format: int32
          example: 1
        funds:
          type: integer
          format: int32
          example: 1
        limitedPartners:
          type: integer
          format: int32
          example: 1
        serviceProviders:
          type: integer
          format: int32
          example: 1
        creditNews:
          type: integer
          format: int32
          example: 1
    SandboxDealDto:
      type: object
      properties:
        dealId:
          type: string
          example: 118074-52T
  securitySchemes:
    pbToken:
      type: apiKey
      name: Authorization
      in: header
      scheme: bearer
      bearerFormat: JWT
