{"openapi":"3.0.1","info":{"title":"OpenAPI definition","version":"v0"},"servers":[{"url":"https://api.pitchbook.com"}],"tags":[{"name":"General","description":"General"},{"name":"Companies","description":"Companies"},{"name":"Patents","description":"Patents"},{"name":"Deals","description":"Deals"},{"name":"Investors","description":"Investors"},{"name":"People","description":"People"},{"name":"Funds","description":"Funds"},{"name":"Limited Partners","description":"Limited Partners"},{"name":"Service Providers","description":"Service Providers"},{"name":"Credit Analysis","description":"Credit Analysis"},{"name":"Account Information","description":"Account Information"},{"name":"Fundamentals","description":"Fundamentals"}],"paths":{"/companies/search":{"get":{"tags":["Companies"],"summary":"Company Search","description":"Retrieves companies matching the specified criteria","operationId":"companySearch","parameters":[{"name":"companyNames","in":"query","description":"Accepts company names, pbIds, websites, and tickers. Returns a list of companies that are an exact match. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"11111-11, Name"},{"name":"ownershipStatus","in":"query","description":"Companies can be found by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Companies#OWNERSHIP_STATUS_TREE\" target=\"_blank\">ownership status code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ACQ"},{"name":"backingStatus","in":"query","description":"Companies can be found by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Companies#BACKING_STATUS_TREE\" target=\"_blank\">backing status code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ACCIB"},{"name":"businessStatus","in":"query","description":"Companies can be found by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Companies#BUSINESS_STATUS_TREE\" target=\"_blank\">business status code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"CH11"},{"name":"city","in":"query","description":"Search for companies by their city location","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"Seattle"},{"name":"stateProvince","in":"query","description":"Search for companies by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Location#US_STATE_TREE\" target=\"_blank\">state code</a> or <a href=\"https://my.pitchbook.com/api/lookup-tables/Location#CANADIAN_PROVINCE_TREE\" target=\"_blank\">province code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"AL"},{"name":"country","in":"query","description":"Search for companies by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Location#COUNTRY_TREE\" target=\"_blank\">country code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ABW"},{"name":"postCode","in":"query","description":"Search for companies by their postcode, included to support searching for both US postal code and foreign","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"98765"},{"name":"locationType","in":"query","description":"Search for companies by additional parameter specifying HQ Only (HQ_ONLY), Non-HQ Only (NON_HQ_ONLY) or any office location (ANY) values. Set this parameter in pair with city, stateProvince, country, postCode options","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ANY"},{"name":"dateFounded","in":"query","description":"Companies can be found by founding date. Search for companies founded after a certain date using the > operator, companies founded before a certain date using the < operator and companies founded between 2 dates using the ^ operator. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"<2026-09-16"},{"name":"keywords","in":"query","description":"Search for companies by keywords associated with them or appearing in their business descriptions. If two or more keywords are specified, the OR operator is applied. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"IT"},{"name":"industry","in":"query","description":"Companies can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#INDUSTRY_TREE\" target=\"_blank\">industry code</a>. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10"},{"name":"verticals","in":"query","description":"Companies can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#VERTICAL_TREE\" target=\"_blank\">vertical code</a>. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"3D"},{"name":"industryAndVertical","in":"query","description":"When using any combination of industry, verticals, and emergingSpaces parameters, \"OR\" logic is used by default. To use \"AND\" logic, set this parameter to True.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"emergingSpaces","in":"query","description":"Emerging spaces are defined by PB analysts for specific products or technological innovations that are growing in popularity. These spaces are dynamic and change over time. Companies can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#EMERGING_SPACES_TREE\" target=\"_blank\">emerging space code</a>. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"348"},{"name":"gecsSector","in":"query","description":"Companies can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#GECS_SECTOR_TREE\" target=\"_blank\">GECS sector code</a>. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"102"},{"name":"gecsIndustryGroup","in":"query","description":"Companies can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#GECS_INDUSTRY_GROUP_TREE\" target=\"_blank\">GECS industry group code</a>. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10200"},{"name":"gecsIndustry","in":"query","description":"Companies can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#GECS_INDUSTRY_TREE\" target=\"_blank\">GECS industry code</a>. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10200020"},{"name":"dealType","in":"query","description":"Find companies with a specific <a href=\"https://my.pitchbook.com/api/lookup-tables/Deals#DEAL_TYPE_TREE\" target=\"_blank\">deal type code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"SeedA"},{"name":"dealStatus","in":"query","description":"Distinguish between failed, upcoming, completed deals and more. Pass a <a href=\"https://my.pitchbook.com/api/lookup-tables/Deals#DEAL_STATUS_TREE\" target=\"_blank\">deal status code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ANNO"},{"name":"dealSize","in":"query","description":"Find companies who have had a deal of a certain size. Search for companies with a deal larger than an amount using the > operator, companies with a deal smaller than a certain amount using the < operator and companies with a deal size in a range using the ^ operator. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"includeDealsWithoutDealSize","in":"query","description":"Include companies without a known deal size. Set this parameter as True only when Deal Size parameter is applied. False by default","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"excludeDealsWithoutDealSize","in":"query","description":"Exclude companies without a known deal size. Set this parameter as True only when Deal Size parameter is not applied. False by default","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"dealDate","in":"query","description":"Find companies who have had a deal within a certain time frame. Search for companies with a deal after a certain date using the > operator, companies with a deal before a certain date using the < operator and companies with a deal between 2 dates using the ^ operator. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"<2026-09-16"},{"name":"totalRaised","in":"query","description":"Find companies by the total amount of money they have raised to date in millions. Use the > operator to find companies that have raised more than a certain value, use the < to find companies who have raised less than a certain value and the ^ operator to search within a range. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"investorNames","in":"query","description":"Accepts investor names, pbIds, websites, and tickers. Returns a list of companies that have been invested in by specified investors that are an exact match to the input. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"11111-11, Name"},{"name":"partialExit","in":"query","description":"Find companies who have had a deal with partial investor's exit within them. To use this parameter set it as True","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"fullExit","in":"query","description":"Find companies who have had a deal with full investor's exit within them. To use this parameter set it as True","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"exitType","in":"query","description":"Find companies with a specific exit of deal with investor's exit within them. Pass a <a href=\"https://my.pitchbook.com/api/lookup-tables/Deals#EXIT_TYPE_TREE\" target=\"_blank\">exit type code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"CH11"},{"name":"exitStatus","in":"query","description":"Distinguish between failed, upcoming, completed exits and more. Pass a <a href=\"https://my.pitchbook.com/api/lookup-tables/Deals#DEAL_STATUS_TREE\" target=\"_blank\">deal status code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ANNO"},{"name":"exitSize","in":"query","description":"Find companies who have had a deal with investor's exit within them of a certain size. Search for companies with an exit larger than an amount using the > operator, companies with an exit smaller than a certain amount using the < operator and companies with an exit size in a range using the ^ operator. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"exitDate","in":"query","description":"Find companies who have had a deal within a certain time frame. Search for companies with a deal after a certain date using the > operator, companies with a deal before a certain date using the < operator and companies with a deal between 2 dates using the ^ operator. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"<2026-09-16"},{"name":"revenue","in":"query","description":"Find companies that have a certain amount of revenue. Search for companies with more revenue than an amount using the > operator, companies with less revenue than an amount using the < operator or companies within a range using the ^ operator. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"onlyMostRecentTransaction","in":"query","description":"Find companies by their most recent deal. To use this parameter set it as True","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"employeeCount","in":"query","description":"Find companies by their current employee count. Search for companies with a headcount larger than a value using the > operator, companies with a headcount smaller than a value using the < operator and companies with a headcount in a range using the ^ operator","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"totalPatentDocuments","in":"query","description":"Add this parameter to filter based on total patents count. Use the > operator to indicate a minimum value, the < operator to indicate a maximum value, and a range of two values with the ^ operator.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"activePatentDocuments","in":"query","description":"Add this parameter to filter based on active patents count. Use the > operator to indicate a minimum value, the < operator to indicate a maximum value, and a range of two values with the ^ operator.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"pendingPatentDocuments","in":"query","description":"Add this parameter to filter based on pending patents count. Use the > operator to indicate a minimum value, the < operator to indicate a maximum value, and a range of two values with the ^ operator.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"totalPatentFamilies","in":"query","description":"Add this parameter to filter based on patent family count. Use the > operator to indicate a minimum value, the < operator to indicate a maximum value, and a range of two values with the ^ operator.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"inactiveFamilyDocuments","in":"query","description":"Add this parameter to filter based on inactive documents count. Use the > operator to indicate a minimum value, the < operator to indicate a maximum value, and a range of two values with the ^ operator.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"patentsExpiringNextYear","in":"query","description":"Add this parameter to filter based on count of patents expiring next year. Use the > operator to indicate a minimum value, the < operator to indicate a maximum value, and a range of two values with the ^ operator.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"patentFilingLocation","in":"query","description":"Patents can be found by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Patents#FILING_LOCATION_TREE\" target=\"_blank\">filing location</a>. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"US"},{"name":"currency","in":"query","description":"Specify the currency that your other parameters, such as dealSize, are entered as. It depends on the <a href=\"https://my.pitchbook.com/api/lookup-tables/Currency#CURRENCY_CODE_TREE\" target=\"_blank\">currency</a> in user preferences","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"AFN"},{"name":"page","in":"query","description":"Results are returned so that they can be paged through. Set this parameter to increment the page","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"1"},{"name":"perPage","in":"query","description":"How many returned results show on page","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"25"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdvancedSearchPageDtoCompanyEntityAdvancedSearchResultDto_SearchView"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}":{"get":{"tags":["Companies"],"summary":"Company","description":"Retrieves all the data points about specific company","operationId":"getCompany","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"114233-77":{"summary":"114233-77","value":"114233-77"},"227393-20":{"summary":"227393-20","value":"227393-20"},"88374-43":{"summary":"88374-43","value":"88374-43"},"55363-78":{"summary":"55363-78","value":"55363-78"},"42901-93":{"summary":"42901-93","value":"42901-93"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyDto"}}}}},"security":[{"pbToken":[]}]}},"/companies":{"post":{"tags":["Companies"],"summary":"[Bulk] Company","description":"Retrieves all the data points about specific company. This bulk call allows you to send multiple pbIds within a single API call.","operationId":"getCompanyBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequestDto"},"example":{"items":[{"id":"224622-37"},{"id":"62300-89"},{"id":"51209-29"}]}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResultDtoCompanyDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/bio":{"get":{"tags":["Companies"],"summary":"Company Bio","description":"Retrieves key data points about specific company","operationId":"getCompanyBio","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"232806-43":{"summary":"232806-43","value":"232806-43"},"185815-81":{"summary":"185815-81","value":"185815-81"},"158901-40":{"summary":"158901-40","value":"158901-40"},"56069-02":{"summary":"56069-02","value":"56069-02"},"84659-86":{"summary":"84659-86","value":"84659-86"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyBioDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/bio":{"post":{"tags":["Companies"],"summary":"[Bulk] Company Bio","description":"Retrieves key data points about specific company. This bulk call allows you to send multiple pbIds within a single API call.","operationId":"getBulkCompanyBio","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequestDto"},"example":{"items":[{"id":"88374-43"},{"id":"108346-96"},{"id":"84659-86"}]}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResultDtoCompanyBioDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/industries":{"get":{"tags":["Companies"],"summary":"Company Industry","description":"Retrieves industries, verticals, keywords, and emerging spaces tagged to the specific company","operationId":"getCompanyIndustry","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"66153-25":{"summary":"66153-25","value":"66153-25"},"232806-43":{"summary":"232806-43","value":"232806-43"},"137127-16":{"summary":"137127-16","value":"137127-16"},"59191-48":{"summary":"59191-48","value":"59191-48"},"185815-81":{"summary":"185815-81","value":"185815-81"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyIndustryDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/industries":{"post":{"tags":["Companies"],"summary":"[Bulk] Company Industry","description":"Retrieves industries and verticals tagged to the specific company. This bulk call allows you to send multiple pbIds within a single API call.","operationId":"getCompanyIndustryBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequestDto"},"example":{"items":[{"id":"179806-69"},{"id":"161109-28"},{"id":"62881-48"}]}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResultDtoCompanyIndustryDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/active-investors":{"get":{"tags":["Companies"],"summary":"Company Active Investors","description":"Retrieves active investors of the specific company","operationId":"getCompanyActiveInvestors","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"114233-77":{"summary":"114233-77","value":"114233-77"},"65860-66":{"summary":"65860-66","value":"65860-66"},"226884-79":{"summary":"226884-79","value":"226884-79"},"180002-80":{"summary":"180002-80","value":"180002-80"},"56060-83":{"summary":"56060-83","value":"56060-83"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ActiveInvestorDto"}}}}}},"security":[{"pbToken":[]}]}},"/companies/active-investors":{"post":{"tags":["Companies"],"summary":"[Bulk] Company Active Investors","description":"Retrieves active investors of the specific company. This bulk call allows you to send multiple pbIds within a single API call.","operationId":"getBulkCompanyActiveInvestor","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequestDto"},"example":{"items":[{"id":"55363-78"},{"id":"51231-25"},{"id":"470063-62"}]}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResultDtoListActiveInvestorDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/investors":{"get":{"tags":["Companies"],"summary":"Company All Investors","description":"Retrieves current and former investors of the specific company","operationId":"getAllCompanyInvestors","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"470063-62":{"summary":"470063-62","value":"470063-62"},"65860-66":{"summary":"65860-66","value":"65860-66"},"264371-86":{"summary":"264371-86","value":"264371-86"},"121367-53":{"summary":"121367-53","value":"121367-53"},"51231-25":{"summary":"51231-25","value":"51231-25"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyAllInvestorsDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/investors":{"post":{"tags":["Companies"],"summary":"[Bulk] Company All Investors","description":"Retrieves current and former investors of the specific company. This bulk call allows you to send multiple pbIds within a single API call.","operationId":"getBulkAllCompanyInvestors","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequestDto"},"example":{"items":[{"id":"88374-43"},{"id":"226884-79"},{"id":"42901-93"}]}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResultDtoCompanyAllInvestorsDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/general-service-providers":{"get":{"tags":["Companies"],"summary":"Company General Service Providers","description":"Retrieves current and former general service providers of the specific company","operationId":"getCompanyGeneralServiceProviders","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"137127-16":{"summary":"137127-16","value":"137127-16"},"184523-77":{"summary":"184523-77","value":"184523-77"},"54885-61":{"summary":"54885-61","value":"54885-61"},"125953-12":{"summary":"125953-12","value":"125953-12"},"151481-89":{"summary":"151481-89","value":"151481-89"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyGeneralServiceProvidersDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/deal-service-providers":{"get":{"tags":["Companies"],"summary":"Company Deal Service Providers","description":"Retrieves service providers that serviced deals of the specific company","operationId":"getCompanyDealServiceProviders","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"114233-77":{"summary":"114233-77","value":"114233-77"},"137127-16":{"summary":"137127-16","value":"137127-16"},"264371-86":{"summary":"264371-86","value":"264371-86"},"56068-93":{"summary":"56068-93","value":"56068-93"},"54885-61":{"summary":"54885-61","value":"54885-61"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyDealServiceProviderDto"}}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/most-recent-financing":{"get":{"tags":["Companies"],"summary":"Company Most Recent Financing","description":"Retrieves key data for the most recent financing deal of the specific company","operationId":"getCompanyMostRecentFinancing","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"161109-28":{"summary":"161109-28","value":"161109-28"},"56069-29":{"summary":"56069-29","value":"56069-29"},"222445-27":{"summary":"222445-27","value":"222445-27"},"151481-89":{"summary":"151481-89","value":"151481-89"},"42901-93":{"summary":"42901-93","value":"42901-93"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyMostRecentFinancingDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/most-recent-financing":{"post":{"tags":["Companies"],"summary":"[Bulk] Company Most Recent Financing","description":"Retrieves key data for the most recent financing deal of the specific company. This bulk call allows you to send multiple pbIds within a single API call.","operationId":"getCompanyMostRecentFinancingBulk","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkRequestDto"},"example":{"items":[{"id":"50936-68"},{"id":"56069-47"},{"id":"63910-36"}]}}},"required":true},"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/BulkResultDtoCompanyMostRecentFinancingDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/most-recent-debt-financing":{"get":{"tags":["Companies"],"summary":"Company Most Recent Debt Financing","description":"Retrieves debt and lender data within the specific deal","operationId":"getCompanyLastRecentDebtFinancing","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"114233-77":{"summary":"114233-77","value":"114233-77"},"180002-80":{"summary":"180002-80","value":"180002-80"},"459316-00":{"summary":"459316-00","value":"459316-00"},"56060-83":{"summary":"56060-83","value":"56060-83"},"62300-89":{"summary":"62300-89","value":"62300-89"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanyMostRecentDebtFinancingDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/deals":{"get":{"tags":["Companies"],"summary":"Company Deals","description":"Retrieves all deals of the specific company","operationId":"getCompanyDeals","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"11009-35":{"summary":"11009-35","value":"11009-35"},"108346-96":{"summary":"108346-96","value":"108346-96"},"122050-54":{"summary":"122050-54","value":"122050-54"},"264371-86":{"summary":"264371-86","value":"264371-86"},"56060-83":{"summary":"56060-83","value":"56060-83"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CompanyDealsDto"}}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/most-recent-financials":{"get":{"tags":["Companies"],"summary":"Most Recent Private Company Financials","description":"Retrieves financial data for the most recent available fiscal year or quarter of the specific company. Data is returned on an annual basis by default. Endpoint is only available for private companies","operationId":"getMostRecentPrivateCompanyFinancials","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"153722-62":{"summary":"153722-62","value":"153722-62"},"459316-00":{"summary":"459316-00","value":"459316-00"},"50936-68":{"summary":"50936-68","value":"50936-68"},"156186-19":{"summary":"156186-19","value":"156186-19"},"156488-14":{"summary":"156488-14","value":"156488-14"}}},{"name":"periodType","in":"query","description":"Type of the period in which data will be presented. The list of types could be found <a href=\"https://my.pitchbook.com/api/lookup-tables/Companies#FINANCIALS_PERIOD_TYPE\" target=\"_blank\">here</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ANN"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/MostRecentPrivateCompanyFinancialsDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/financials":{"get":{"tags":["Companies"],"summary":"Private Company Financials","description":"Retrieves private company financial data for all available fiscal years or quarters. Annual data is returned by default. Endpoint is only available for private companies.","operationId":"getPrivateCompanyFinancials","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"470063-62":{"summary":"470063-62","value":"470063-62"},"226657-72":{"summary":"226657-72","value":"226657-72"},"178836-04":{"summary":"178836-04","value":"178836-04"},"55579-06":{"summary":"55579-06","value":"55579-06"},"459316-00":{"summary":"459316-00","value":"459316-00"}}},{"name":"periodType","in":"query","description":"Type of the period in which data will be presented. The list of types could be found <a href=\"https://my.pitchbook.com/api/lookup-tables/Companies#FINANCIALS_PERIOD_TYPE\" target=\"_blank\">here</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ANN"},{"name":"sinceDate","in":"query","description":"Search for financial data relating to the fiscal period after a certain date using the > operator, before a certain date using the < operator, and between 2 dates using the ^ operator. \nFormat: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string","example":"<2025-01-01"}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PrivateCompanyFinancialsDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/vc-exit-predictions":{"get":{"tags":["Companies"],"summary":"Company VC Exit Predictions","description":"For a given pbId, returns exit predictions based on PitchBook machine learning.\nCompany needs to have at least 2 rounds of funding in the past six years to qualify for this dataset. For detailed methodology explanation, please reference this <a href=\"https://files.pitchbook.com/pdf/VC%20Exit%20Predictor%20Technical%20Documentation.pdf\" target=\"_blank\">document</a>.","operationId":"getCompanyVcExitPredictions","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"467209-27":{"summary":"467209-27","value":"467209-27"},"137127-16":{"summary":"137127-16","value":"137127-16"},"56069-02":{"summary":"56069-02","value":"56069-02"},"63910-36":{"summary":"63910-36","value":"63910-36"},"179806-69":{"summary":"179806-69","value":"179806-69"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ExitPredictionDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/valuation-estimates":{"get":{"tags":["Companies"],"summary":"Company Valuation Estimates","description":"For a given pbId, returns valuation estimates based on PitchBook's predictive modeling. For detailed methodology explanation, please reference this <a href=\"https://files.pitchbook.com/website/files/pdf/PitchBook_VC_Valuation_Estimates.pdf\" target=\"_blank\">document</a>","operationId":"getValuationEstimates","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"226884-79":{"summary":"226884-79","value":"226884-79"},"112704-22":{"summary":"112704-22","value":"112704-22"},"12396-16":{"summary":"12396-16","value":"12396-16"},"180436-42":{"summary":"180436-42","value":"180436-42"},"54885-61":{"summary":"54885-61","value":"54885-61"}}},{"name":"sinceDate","in":"query","description":"Search for valuation estimates relating to the period after a specific date using the > operator, before a certain date using the < operator, and between 2 dates using the ^ operator. Format: YYYY-MM-DD. Use this parameter only when the historicalEstimates parameter is applied.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"<2025-01-01"},{"name":"historicalEstimates","in":"query","description":"Include historical estimates. To use this parameter, set it to True. False by default","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":false},"example":true},{"name":"predictionDrivers","in":"query","description":"Include prediction driver fields in the response. To use this parameter, set it to True. False by default","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":false},"example":true}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ValuationEstimatesDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/social-analytics":{"get":{"tags":["Companies"],"summary":"Company Social Analytics","description":"Retrieves social media and web signal data points of the specified company","operationId":"getCompanySocialAnalytics","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"56560-42":{"summary":"56560-42","value":"56560-42"},"436909-78":{"summary":"436909-78","value":"436909-78"},"156186-19":{"summary":"156186-19","value":"156186-19"},"62300-89":{"summary":"62300-89","value":"62300-89"},"55363-78":{"summary":"55363-78","value":"55363-78"}}},{"name":"compare","in":"query","description":"Compare social media and web signals data against companies within similar companies (SIMILAR_COMPANIES), industry (INDUSTRY), verticals (VERTICALS), or all companies (ALL_COMPANIES).","required":false,"style":"form","explode":true,"schema":{"type":"string","default":"ALL_COMPANIES","enum":["SIMILAR_COMPANIES","INDUSTRY","VERTICALS","ALL_COMPANIES"]}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/CompanySocialAnalyticsDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/similar-companies":{"get":{"tags":["Companies"],"summary":"Company Similar Companies","description":"Retrieves top 10 similar companies/competitors","operationId":"getSimilarCompanies","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"279838-27":{"summary":"279838-27","value":"279838-27"},"224622-37":{"summary":"224622-37","value":"224622-37"},"56069-02":{"summary":"56069-02","value":"56069-02"},"56068-93":{"summary":"56068-93","value":"56068-93"},"179806-69":{"summary":"179806-69","value":"179806-69"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SimilarCompanyDto"}}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/updates":{"get":{"tags":["Companies"],"summary":"Company Profile Updates","description":"Retrieves changes for the specific company for up to the last 90 days","operationId":"getCompanyUpdates","parameters":[{"name":"pbId","in":"path","description":"Company pbId. Required to specify time period using 'sinceDate' or 'trailingRange' parameter","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"227393-20":{"summary":"227393-20","value":"227393-20"},"62283-07":{"summary":"62283-07","value":"62283-07"},"112704-22":{"summary":"112704-22","value":"112704-22"},"153722-62":{"summary":"153722-62","value":"153722-62"},"84659-86":{"summary":"84659-86","value":"84659-86"}}},{"name":"sinceDate","in":"query","description":"Add this parameter to extract information about the entity updates after a certain date with the > operator, before a certain date with the < operator and between 2 dates with the ^ operator. Set this parameter in pair with pbId. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"<2026-09-16"},{"name":"trailingRange","in":"query","description":"Add this parameter to extract information about the entity updates during last N days (up to 90). Set this parameter in pair with pbId","required":false,"style":"form","explode":true,"schema":{"type":"integer"},"example":"20"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/UpdateDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/{pbId}/patents/search":{"get":{"tags":["Patents"],"summary":"Patent Search","description":"Retrieves patents matching the specified criteria","operationId":"patentSearch","parameters":[{"name":"pbId","in":"path","description":"Company pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"180436-42":{"summary":"180436-42","value":"180436-42"},"51231-25":{"summary":"51231-25","value":"51231-25"},"52803-64":{"summary":"52803-64","value":"52803-64"},"54885-61":{"summary":"54885-61","value":"54885-61"},"179806-69":{"summary":"179806-69","value":"179806-69"}}},{"name":"status","in":"query","description":"Search for patents by their status specifying Active, Pending and/or Inactive values. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"Active, Pending"},{"name":"publicationDate","in":"query","description":"Search for patents published after a certain date using the > operator, patents published before a certain date using the < operator, and patents published between 2 dates using the ^ operator. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":">2024-04-26"},{"name":"firstFilingDate","in":"query","description":"Search for patents first filed after a certain date using the > operator, patents first filed before a certain date using the < operator, and patents first filed between 2 dates using the ^ operator. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":">2024-04-26"},{"name":"filingAuthorityLocation","in":"query","description":"Patents can be found by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Patents#FILING_AUTHORITY_LOCATION_TREE\" target=\"_blank\">filing authority location</a>. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"US, GB"},{"name":"cpcSectionCode","in":"query","description":"Description: Patents can be found by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Patents#CPC_SECTIONS_TREE\" target=\"_blank\">CPC Section code</a>. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"A, E"},{"name":"cpcClassCode","in":"query","description":"Patents can be found by their <a href=\"https://my.pitchbook.com/api/lookup-tables/Patents#CPC_CLASSES_TREE\" target=\"_blank\">CPC Class code</a>. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"A01, E01"},{"name":"page","in":"query","description":"Results are returned so that they can be paged through. Set this parameter to increment the page. If nothing is specified, default value is 1.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"1"},{"name":"perPage","in":"query","description":"Set how many returned results will be shown on the page (between 1 and 250). If nothing is specified, default value is 25.","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"25"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatentsPageDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/patents/{patentId}/detailed":{"get":{"tags":["Patents"],"summary":"Patent Detailed","description":"Retrieves extended description of the specific patent","operationId":"getPatentDetailed","parameters":[{"name":"patentId","in":"path","description":"Patent ID","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"US-9117220-B2":{"summary":"US-9117220-B2","value":"US-9117220-B2"},"US-20130212494-A1":{"summary":"US-20130212494-A1","value":"US-20130212494-A1"},"US-20190273627-A1":{"summary":"US-20190273627-A1","value":"US-20190273627-A1"},"US-8904295-B2":{"summary":"US-8904295-B2","value":"US-8904295-B2"},"US-20130219298-A9":{"summary":"US-20130219298-A9","value":"US-20130219298-A9"},"US-20120179981-A1":{"summary":"US-20120179981-A1","value":"US-20120179981-A1"},"US-20110289142-A1":{"summary":"US-20110289142-A1","value":"US-20110289142-A1"},"US-20110289433-A1":{"summary":"US-20110289433-A1","value":"US-20110289433-A1"},"US-10742433-B2":{"summary":"US-10742433-B2","value":"US-10742433-B2"},"US-9654425-B2":{"summary":"US-9654425-B2","value":"US-9654425-B2"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/PatentDetailedDto"}}}}},"security":[{"pbToken":[]}]}},"/companies/patents/{patentId}/download":{"get":{"tags":["Patents"],"summary":"Patent File Download","description":"Retrieves an exact file of a specific patent","operationId":"downloadPatent","parameters":[{"name":"patentId","in":"path","description":"Patent ID","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"US-9117220-B2":{"summary":"US-9117220-B2","value":"US-9117220-B2"},"US-20130212494-A1":{"summary":"US-20130212494-A1","value":"US-20130212494-A1"},"US-20190273627-A1":{"summary":"US-20190273627-A1","value":"US-20190273627-A1"},"US-8904295-B2":{"summary":"US-8904295-B2","value":"US-8904295-B2"},"US-20130219298-A9":{"summary":"US-20130219298-A9","value":"US-20130219298-A9"},"US-20120179981-A1":{"summary":"US-20120179981-A1","value":"US-20120179981-A1"},"US-20110289142-A1":{"summary":"US-20110289142-A1","value":"US-20110289142-A1"},"US-20110289433-A1":{"summary":"US-20110289433-A1","value":"US-20110289433-A1"},"US-10742433-B2":{"summary":"US-10742433-B2","value":"US-10742433-B2"},"US-9654425-B2":{"summary":"US-9654425-B2","value":"US-9654425-B2"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"default":{"description":"default response","content":{"*/*":{"schema":{"type":"string","example":"Binary file content"}}}}},"security":[{"pbToken":[]}]}},"/deals/search":{"get":{"tags":["Deals"],"summary":"Deal Search","description":"Retrieves deals along with the companies associated with the deal","operationId":"dealSearch","parameters":[{"name":"companyNames","in":"query","description":"Accepts company names, pbIds, websites, and tickers to find all deals. Returns a list of deals related to companies that are an exact match. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"11111-11, Name"},{"name":"ownershipStatus","in":"query","description":"Search for deals by <a href=\"https://my.pitchbook.com/api/lookup-tables/Companies#OWNERSHIP_STATUS_TREE\" target=\"_blank\">ownership status code</a> of the companies involved","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ACQ"},{"name":"backingStatus","in":"query","description":"Search for deals by <a href=\"https://my.pitchbook.com/api/lookup-tables/Companies#BACKING_STATUS_TREE\" target=\"_blank\">backing status code</a> of the companies involved","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ACCIB"},{"name":"businessStatus","in":"query","description":"Search for deals by <a href=\"https://my.pitchbook.com/api/lookup-tables/Companies#BUSINESS_STATUS_TREE\" target=\"_blank\">business status code</a> of the companies involved","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"CH11"},{"name":"city","in":"query","description":"Search for deals by city location of the companies involved","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"Seattle"},{"name":"stateProvince","in":"query","description":"Search for deals by <a href=\"https://my.pitchbook.com/api/lookup-tables/Location#US_STATE_TREE\" target=\"_blank\">state code</a> or <a href=\"https://my.pitchbook.com/api/lookup-tables/Location#CANADIAN_PROVINCE_TREE\" target=\"_blank\">province code</a> of the companies involved","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"AL"},{"name":"country","in":"query","description":"Search for deals by <a href=\"https://my.pitchbook.com/api/lookup-tables/Location#COUNTRY_TREE\" target=\"_blank\">country code</a> of the companies involved","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ABW"},{"name":"postCode","in":"query","description":"Search for deals by postcode of the companies involved, included to support searching for both US postal code and foreign","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"98765"},{"name":"locationType","in":"query","description":"Search for deals by additional parameter concerning the companies involved specifying HQ Only (HQ_ONLY), Non-HQ Only (NON_HQ_ONLY) or any office location (ANY) values. Set this parameter in pair with city, stateProvince, country, postCode options","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ANY"},{"name":"dateFounded","in":"query","description":"Deals can be found by founding date of the companies involved. Search for deals of companies founded after a certain date using the > operator, companies founded before a certain date using the < operator and companies founded between 2 dates using the ^ operator. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"<2026-09-16"},{"name":"industry","in":"query","description":"Deals can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#INDUSTRY_TREE\" target=\"_blank\">industry code</a> of the companies involved. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10"},{"name":"verticals","in":"query","description":"Deals can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#VERTICAL_TREE\" target=\"_blank\">vertical code</a> of the companies involved. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"3D"},{"name":"industryAndVertical","in":"query","description":"When using both industry and vertical parameters, \"OR\" logic is used by default. To use \"AND\" logic, set this parameter to True. Set this parameter in pair with industry and vertical options","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"gecsSector","in":"query","description":"Deals can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#GECS_SECTOR_TREE\" target=\"_blank\">GECS sector code</a> of the companies involved. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"102"},{"name":"gecsIndustryGroup","in":"query","description":"Deals can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#GECS_INDUSTRY_GROUP_TREE\" target=\"_blank\">GECS industry group code</a> of the companies involved. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10200"},{"name":"gecsIndustry","in":"query","description":"Deals can be found by the <a href=\"https://my.pitchbook.com/api/lookup-tables/Industries, Verticals & Emerging Spaces#GECS_INDUSTRY_TREE\" target=\"_blank\">GECS industry code</a> of the companies involved. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10200020"},{"name":"totalRaised","in":"query","description":"Find deals by the companies' total amount of money they have raised to date in millions. Use the > operator to find companies that have raised more than a certain value, use the < to find companies who have raised less than a certain value and the ^ operator to search within a range. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"keywords","in":"query","description":"Search for deals by keywords associated with the companies involved or keywords appearing in their business description. Only one industry classification can be used at a time. This parameter cannot be combined with parameters from other industry classifications","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"IT"},{"name":"onlyMostRecentTransaction","in":"query","description":"Find most recent deals. To use this parameter set it as True ","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"dealType","in":"query","description":"Find specific <a href=\"https://my.pitchbook.com/api/lookup-tables/Deals#DEAL_TYPE_TREE\" target=\"_blank\">deal type code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"SeedA"},{"name":"dealStatus","in":"query","description":"Distinguish between failed, upcoming, completed deals and more. Pass a <a href=\"https://my.pitchbook.com/api/lookup-tables/Deals#DEAL_STATUS_TREE\" target=\"_blank\">deal status code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ANNO"},{"name":"dealSize","in":"query","description":"Find deals of a certain size. Search for deals larger than an amount using the > operator, deals smaller than a certain amount using the < operator and deals in a range using the ^ operator. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"includeDealsWithoutDealSize","in":"query","description":"Include deals without a known deal size. Set this parameter as True only when Deal Size parameter is applied. False by default","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"excludeDealsWithoutDealSize","in":"query","description":"Exclude deals without a known deal size. Set this parameter as True only when Deal Size parameter is not applied. False by default","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"dealDate","in":"query","description":"Find deals within a certain time frame. Search for a deal after a certain date using the > operator, a deal before a certain date using the < operator and a deal between 2 dates using the ^ operator. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"<2026-09-16"},{"name":"partialExit","in":"query","description":"Find deals with partial investor's exit within them. To use this parameter set it as True","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"fullExit","in":"query","description":"Find deals with full investor's exit within them. To use this parameter set it as True","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"TRUE"},{"name":"investorNames","in":"query","description":"Search for deals by who invested in them with an exact match. Accepts investor names, pbIds, websites, and tickers to return all deals they participated in. Use a comma to separate multiple values","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"11111-11, Name"},{"name":"exitType","in":"query","description":"Find specific deal types with investor's exit within them. Pass a <a href=\"https://my.pitchbook.com/api/lookup-tables/Deals#EXIT_TYPE_TREE\" target=\"_blank\">exit type code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"CH11"},{"name":"exitStatus","in":"query","description":"Distinguish between failed, upcoming, completed exits and more. Pass a <a href=\"https://my.pitchbook.com/api/lookup-tables/Deals#DEAL_STATUS_TREE\" target=\"_blank\">deal status code</a>","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"ANNO"},{"name":"exitSize","in":"query","description":"Find deals of a certain size with investor's exit within them. Search for deals with an exit larger than an amount using the > operator, deals with an exit smaller than a certain amount using the < operator and deals with an exit size in a range using the ^ operator. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"exitDate","in":"query","description":"Find deals of a certain time frame with investor's exit within them. Search for deals with an exit after a certain date using the > operator, companies with an exit before a certain date using the < operator and companies with an exit between 2 dates using the ^ operator. Format: YYYY-MM-DD","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"<2026-09-16"},{"name":"preMoneyValuation","in":"query","description":"Search for deals by companies' valuation prior to a financing. Search for deals with companies' valuation prior to a financing larger than an amount using the > operator, deals with companies' valuation prior to a financing smaller than a certain amount using the < operator and deals with companies' valuation prior to a financing in a range using the ^ operator. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"postValuation","in":"query","description":"Search for deals by companies' valuation prior at or post investment. Search for deals with companies' valuation prior at or post investment larger than an amount using the > operator, deals with companies' valuation prior at or post investment smaller than a certain amount using the < operator and deals with companies' valuation prior at or post investment in a range using the ^ operator. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"revenue","in":"query","description":"Find deals by the revenue of the companies involved. Search for deals with companies' revenue more than an amount using the > operator, deals with companies' revenue less than an amount using the < operator or deals with companies' revenue  in a range using the ^ operator. Amounts in millions","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"10^15"},{"name":"currency","in":"query","description":"Specify the currency that your other parameters, such as dealSize, are entered as. It depends on the <a href=\"https://my.pitchbook.com/api/lookup-tables/Currency#CURRENCY_CODE_TREE\" target=\"_blank\">currency</a> in user preferences","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"AFN"},{"name":"page","in":"query","description":"Results are returned so that they can be paged through. Set this parameter to increment the page","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"1"},{"name":"perPage","in":"query","description":"How many returned results show on page","required":false,"style":"form","explode":true,"schema":{"type":"string"},"example":"25"}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/AdvancedSearchPageDtoDealAdvancedSearchResultDto_SearchView"}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/bio":{"get":{"tags":["Deals"],"summary":"Deal Bio","description":"Retrieves key data points about specific deal","operationId":"getDealBio","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"105928-66T":{"summary":"105928-66T","value":"105928-66T"},"75779-11T":{"summary":"75779-11T","value":"75779-11T"},"111416-59T":{"summary":"111416-59T","value":"111416-59T"},"119310-31T":{"summary":"119310-31T","value":"119310-31T"},"85305-88T":{"summary":"85305-88T","value":"85305-88T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DealBioDto"}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/detailed":{"get":{"tags":["Deals"],"summary":"Deal Detailed","description":"Retrieves extended description of the specific deal","operationId":"getDealDetailed","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"163939-87T":{"summary":"163939-87T","value":"163939-87T"},"124120-36T":{"summary":"124120-36T","value":"124120-36T"},"26404-75T":{"summary":"26404-75T","value":"26404-75T"},"117731-62T":{"summary":"117731-62T","value":"117731-62T"},"85305-88T":{"summary":"85305-88T","value":"85305-88T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DealDetailedDto"}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/investors/exiters":{"get":{"tags":["Deals"],"summary":"Deal Investors/Exiters","description":"Retrieves investors, exiters and sellers within the specific deal","operationId":"getDealInvestorsExiters","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"124120-36T":{"summary":"124120-36T","value":"124120-36T"},"75779-11T":{"summary":"75779-11T","value":"75779-11T"},"111416-59T":{"summary":"111416-59T","value":"111416-59T"},"119310-31T":{"summary":"119310-31T","value":"119310-31T"},"85305-88T":{"summary":"85305-88T","value":"85305-88T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DealInvestorsExitersDto"}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/service-providers":{"get":{"tags":["Deals"],"summary":"Deal Service Providers","description":"Retrieves service providers hired within the specific deal","operationId":"getDealServiceProviders","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"173485-81T":{"summary":"173485-81T","value":"173485-81T"},"163939-87T":{"summary":"163939-87T","value":"163939-87T"},"117731-62T":{"summary":"117731-62T","value":"117731-62T"},"75779-11T":{"summary":"75779-11T","value":"75779-11T"},"119310-31T":{"summary":"119310-31T","value":"119310-31T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealServiceProviderDto"}}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/valuation":{"get":{"tags":["Deals"],"summary":"Deal Valuation","description":"Retrieves the company's valuation prior and after the specific deal","operationId":"getDealValuation","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"173485-81T":{"summary":"173485-81T","value":"173485-81T"},"26404-75T":{"summary":"26404-75T","value":"26404-75T"},"105443-38T":{"summary":"105443-38T","value":"105443-38T"},"118069-93T":{"summary":"118069-93T","value":"118069-93T"},"85305-88T":{"summary":"85305-88T","value":"85305-88T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DealValuationDto"}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/stock-info":{"get":{"tags":["Deals"],"summary":"Deal Stock Info","description":"Retrieves key data about stock within the specific deal","operationId":"getDealStockInfo","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"173485-81T":{"summary":"173485-81T","value":"173485-81T"},"105928-66T":{"summary":"105928-66T","value":"105928-66T"},"165559-69T":{"summary":"165559-69T","value":"165559-69T"},"105443-38T":{"summary":"105443-38T","value":"105443-38T"},"189494-92T":{"summary":"189494-92T","value":"189494-92T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DealStockInfoDto"}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/cap-table-history":{"get":{"tags":["Deals"],"summary":"Deal Cap Table History","description":"Retrieves stock prices values within the specific deal and prior to it","operationId":"getDealCapTableHistory","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"173485-81T":{"summary":"173485-81T","value":"173485-81T"},"163939-87T":{"summary":"163939-87T","value":"163939-87T"},"123088-78T":{"summary":"123088-78T","value":"123088-78T"},"111416-59T":{"summary":"111416-59T","value":"111416-59T"},"105443-38T":{"summary":"105443-38T","value":"105443-38T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DealCapTableHistoryDto"}}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/tranche-info":{"get":{"tags":["Deals"],"summary":"Deal Tranche Information","description":"Retrieves tranche data within the specific deal","operationId":"getDealTrancheInfo","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"163939-87T":{"summary":"163939-87T","value":"163939-87T"},"118069-93T":{"summary":"118069-93T","value":"118069-93T"},"119310-31T":{"summary":"119310-31T","value":"119310-31T"},"85305-88T":{"summary":"85305-88T","value":"85305-88T"},"189494-92T":{"summary":"189494-92T","value":"189494-92T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DealTrancheInformationDto"}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/debt-lenders":{"get":{"tags":["Deals"],"summary":"Deal Debt/Lenders","description":"Retrieves debt and lender data within the specific deal","operationId":"getDealDebtLenders","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"105928-66T":{"summary":"105928-66T","value":"105928-66T"},"165559-69T":{"summary":"165559-69T","value":"165559-69T"},"163939-87T":{"summary":"163939-87T","value":"163939-87T"},"26404-75T":{"summary":"26404-75T","value":"26404-75T"},"75779-11T":{"summary":"75779-11T","value":"75779-11T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"description":"Too Many Requests","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/DealDebtLendersDto"}}}}},"security":[{"pbToken":[]}]}},"/deals/{pbId}/multiples":{"get":{"tags":["Deals"],"summary":"Deal Multiples","description":"Retrieves key financial multiple values of the specific deal","operationId":"getDealMultiples","parameters":[{"name":"pbId","in":"path","description":"Deal pbId","required":true,"style":"simple","explode":false,"schema":{"type":"string"},"examples":{"165559-69T":{"summary":"165559-69T","value":"165559-69T"},"124120-36T":{"summary":"124120-36T","value":"124120-36T"},"26404-75T":{"summary":"26404-75T","value":"26404-75T"},"123088-78T":{"summary":"123088-78T","value":"123088-78T"},"118069-93T":{"summary":"118069-93T","value":"118069-93T"}}}],"responses":{"400":{"description":"Bad Request","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"500":{"description":"Internal Server Error","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"404":{"description":"Not Found","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"503":{"description":"Service Unavailable","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"403":{"description":"Forbidden","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"504":{"description":"Gateway Timeout","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"402":{"description":"Payment Required","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ErrorDto"}}}},"429":{"descr
[...]
